

.wrapper {
    padding: 50px;
}

.container {
    text-align: center;
}

#d-button {
    font-size: 20px;
}

#git-button {
    font-size: 20px;
}

button {
    margin: 10px 20px;
}

input {
    margin: 10px 20px;
}
